* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: "Rubik", sans-serif;
}

#quote-box {
  width: 700px;
  max-height: 500px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display-container {
  margin-top: 20px;
}

#text {
  font-size: 24px;
  font-weight: bold; /* Emphasizes the quote text */
  color: #000000; /* Dark color for better readability */
}

.quote-icon1 {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.quote-icon2 {
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 14px;
}

#author {
  font-size: 18px;
  text-align: right;
  margin: 20px 40px 0 0;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 40px 0;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #b8b8b8; /* Darker green on hover */
}

.myName {
  margin: 30px 35%;
}

.fa-square-x-twitter {
  margin-right: 4px;
  font-size: 20px;
}
